/* You can add global styles to this file, and also import other style files */
.active {
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

p.not-found {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #f10b0b;
}

p.internal-error {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #c72d2d;
}

em {
    color: #e71515;
    font-weight: bold;
}

.ng-invalid.ng-touched {
    border-color: red;
}

.card {
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #cabcbc;
}